<h1>Vocatus Admin Panel</h1>
<p>This panel will list all the admin functions</p>

<ul>
 <li>Jobs which need to be completed</li>
 <li>Jobs which were completed</li>
 <li>Jobs which are blocked</li>
</ul>
